@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
body{
    background-color: white;
}

/*MENÜ VE LOGO*/
.navbar{
    background-color: black;
    display:flex;
    height: 200px;
    margin-bottom: 150px;
}
.logo{
    margin: auto;
    width: 200px;
    height: 100%;
    margin-left: 0px;
}
.navbar li{
    display:inline-block;
    margin: 20px;
    position:relative;
    right: 80px;
    top: 5px;
    
}
.navbar li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    padding: 10px 20px;
}
.navbar li a:hover{
    text-decoration: solid;
    background-color: red;
    border-radius:20px;
}



/*GALERÝ*/
.galery{
    display: flex;
    flex-wrap: wrap;
     
}
.galery-tittle h1 {
    text-align: center;
    margin-top: 210px;
    margin-bottom: 100px;
    font-size: 50px;
    font-weight: 800;
    color: #E64A19;
    font-family: 'Poppins', sans-serif;
}
.galery-tittle h1::after {
    content: "";
    width: 100px;
    height: 4px;
    background-color: #E64A19;
    margin: 0 auto;
    display: block;
}
.galery-item{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    
}
.galery-item img{
    border-radius: 20px;

}

.overlay{
    
    width:100%;
    height: 98%;
    background-color: #E64A19;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    color: white;
    font-size: 45px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.overlay a p{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    text-decoration: none;
}
.galery-item:hover .overlay {
    top: 0;
    transition: .4s;
    opacity: 0.7;
}

/*HAKKIMDA*/
.about {
    background-color: lightgray;
    margin-top: 150px;
    margin-bottom: 150px;
    height: 900px;
}
.about-tittle {
    margin-bottom: 40px;
}
.about-tittle h2{
    width: 100%;
    text-align:center;
    color: #E64A19;
    margin: 0 auto;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.about-tittle h2::after{
    content: "";
    width: 100px;
    height: 4px;
    background-color: #E64A19;
    margin: 0 auto;
    display: block;
}
.about-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.about-img{
    width: 30%;
}
.about-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about-text{
    width: 30%;
}
h3 {
    margin-bottom: 40px;
    text-align: center;
    font-size: 70px;
    font-family: 'Poppins', sans-serif;
    color: #E64A19;
}
#line {
    color: #E64A19;
    margin-bottom: 40px;
    text-align: center;

}

.about-text p {
    font-size: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}


/*ÖZGEÇMÝÞ*/
.cv {
    background-color: white;
    margin-top: 150px;
    margin-bottom: 150px;
    height: 900px;
}
.cv-tittle {
    margin-bottom: 40px;
}
.cv-tittle h2{
    width: 100%;
    text-align:center;
    color: #E64A19;
    margin: 0 auto;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.cv-tittle h2::after {
    content: "";
    width: 100px;
    height: 4px;
    background-color: #E64A19;
    margin: 0 auto;
    display: block;
}

.cv-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.cv-img{
    width: 30%;
}
.cv-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cv-text{
    width: 30%;
}
.cv-text p {
    font-size: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}


/*ÝLETÝÞÝM*/
.cont {
    background-color: black;
    margin-top: 150px;
    margin-bottom: 0px;
    height: 350px;
}
.cont-tittle {
    margin-bottom: 40px;
}
.cont-tittle h2{
    width: 100%;
    text-align:center;
    color: #E64A19;
    margin: 0 auto;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.cont-tittle h2::after{
    content: "";
    width: 100px;
    height: 4px;
    background-color: #E64A19;
    margin: 0 auto;
    display: block;
}
.cont-content{
    margin-top: 100px;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.cont-item  {
    color: #E64A19;

}
.cont-item i{
    font-size: 50px;
}
.cont-item p{
    font-size: 20px;
}


/*MENÜ ÝKONU*/
#menu-icon {
    display: none;
    color: #8b0000;
    font-size: 30px;
    margin-top: 20px;
    margin-right: 50px;
}


/*RESPONSIVE*/
@media only screen and (max-width:1250px){
    .navbar ul{
        display: flex;
        align-items: center;
        justify-content:center;
        flex-direction:column;
        position: absolute;
        top: 60px;
        right: 8px;
        background-color: #8b0000;
        border-radius: 10px;
        overflow: hidden;
        transition: max-height .5s;
    }
    .navbar ul li{
        margin-right: 0px;
        margin-left: 120px;
        margin-bottom:15px;
    }
    .navbar #menu-icon{
        display: block;
        cursor: pointer;
    }
}

@media only screen and (max-width:950px){
    .about-img{
        width: 40%
    }
    .about-text{
        width: 70%;
    }
}
@media only screen and (max-width:950px) {
    .cv-img {
        width: 40%
    }

    .cv-text {
        width: 70%;
    }
}
@media only screen and (max-width:750px) {
    
    .cont{
        height: 600px;
    }

    .cont-content{
        flex-direction:column;
    }
    .cont-item{
        margin-top: 40px;
        align-items: center;
        text-align: center;
    }
}